{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

<h1>Editer actualité</h1>

<div class="contentForm">
	{{ form_start(form, { 'attr': { 'role': 'form' }}) }}
	    {{ form_errors(form) }}

		<div class="form-group">
	    {{ form_label(form.description) }}
	    {{ form_widget(form.description) }}
	    </div>

	    <div class="form-group">
	    {{ form_label(form.section) }}
	    {{ form_widget(form.section) }}
	    </div>

	    <div class="form-group">
	    {{ form_label(form.file) }}
	    {{ form_widget(form.file) }}
	    </div>

	    <input type="submit" class="btn btn-default" />

	{{ form_end(form) }}
</div>
{% endblock %}

