{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Actu</h1>

	<div class="table-responsive">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <table class="table table-striped">
              <thead>
                <tr>
                 		<th> Id </th>                 		
                 		<th> Texte </th>     
                 		<th> Communauté </th>
                 		<th> Modifier/Supprimer </th>
                 		

                </tr>
              </thead>

              <tbody>

                	{% for actuality in actualities  %}                 		
                 		 <tr>
	                 		 <td> 	{{ actuality.id }}  </td>    
 
	                 		 <td> 	{{ actuality.description|truncate(500) }}  </td>
	                 		  <td> 	
	                 		  		{{ actuality.community.name }} 

	                 		  </td>
	                 		  	<td> 	
	                 		   		<a href="{{ path('admin_actu_edit', {'id' : actuality.id } ) }}"> <img src="/Admin/img/edit.png"/> </a>
	                 		   		<a href="{{ path('admin_actu_delete',{'id': actuality.id } ) }}"> <img src="/Admin/img/delete.png"/> </a> 
	                 		    </td>
                 		 </tr>                
               		{% endfor %}     


               
              </tbody>
            </table>
          </div>

{% endblock %}

