<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('app_param_profil')}}">Profil</a></li>
        <li><a href="{{ path('app_param_experiences')}}">Experiences</a></li>
        <li><a href="{{ path('app_param_competences')}}">Competences</a></li>
        <li><a href="{{ path('app_param_hobbies')}}">Hobbies</a></li>
        <li><a href="{{ path('app_param_profil_edit', {'type': 'password'})}}">Mot de passe</a></li>
    </ul>
</div>