{% extends 'UnetworkAppBundle::layout.html.twig' %}

{% block body %}

	<script type="text/javascript">
		$(function() {
			$('#container').masonry({itemSelector : '.item',});
		});
	</script>
	

	<div class="header">
		<div class="couverture" style="background-image:url('/{{ user.community.getWebPath }}');"> </div>
  		<div class="bottomBar">

  			<div class="row bottomBandeau">

  				<div class="col-md-3">
  					<a class="btnOffre" href="#">Offres d'emplois</a>
  				</div>

  				<div class="col-md-2"></div>

  				<div class="col-md-3">
  					<span class="communityname">{{ user.community.name }}</span>
  				</div>

  				<div class="col-md-1"></div>

  				<div class="col-md-3">
  					<a class="btnGroupe" href="#">Groupe de travail</a>
  				</div>

  			</div>
  				
  		</div>
	</div>
	<div class="filtreSection">
		<div class="row">
			<div class="col-md-12">
				<ul class="contentAlias">
					<li>
						<a class="alias" href="{{ path('app_index') }}">TOUS</a>
					</li>

					{% for section in sections %}
						<li>
							<a class="alias" href="{{ path('app_index') }}/{{ section.id }}">{{ section.alias }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="contTimeline contActu">

  		<div class="row">

  			<div class="col-md-12">

  				<div id="container">
					<div class="timeline_container">
						<div class="indexTimeline"></div>
					</div>
					{#{ i = 0 }#}
					{% for actuality in actualities %}


			  			
		  				<div class="item">
		  					<i class="fa fa-bookmark"></i>
							<div class="contentItem">
								<span class="alias">
			  						{{ actuality.section.alias }}
			  					</span>
								<p class="destActu">{{actuality.description}}</p>
								{% if actuality.path!="" %}
									<img class="imgActu" src="/{{actuality.getWebPath}}" alt="image actualité">
								{% endif %}
								<p class="dateActu">{{actuality.created|date("m/d/Y H:i:s")}}</p>

								<div class="postComment">
									<form class="form_comment" action="{{ path('comment_new', { 'actu_id': actuality.id }) }}" method="post">
										<input type="text" style="width: 100%" name="content" maxlength="250" placeholder="Ecrire un commentaire..." />
									</form>
								</div>
								<div class="commentsActu">
									{% for comment in actuality.comments %}

										<div class="comment">
											<a href="#">
												<img width="40" height="40" src="/{{ comment.user.getWebPath }}" />
												{{ comment.user.prenom }} {{ comment.user.nom }}
											</a>
											<span>{{ comment.created|date("d/m/Y H:i:s") }}</span>
											<p>
												{{ comment.content }}
											</p>
											<!--<span>{{ comment.created|date("m/d/Y H:i:s") }}</span>-->
											
										</div>

									{% endfor %}
								</div>
							</div>
						</div>
		  			{#{ i++ }#}
					{% endfor %}

				</div>
  				

			</div>

		</div>

	</div>

  	<script type="text/javascript" >

  	$(document).ready(function(){
		function Arrow_Points()	{
			var s = $('#container').find('.item');
			$.each(s,function(i,obj){
				var posLeft = $(obj).css("left");
				if(posLeft == "0px") {
					html = "<span class='rightCorner'></span>";
					$(obj).addClass('borderclass leftActu');
				$('.leftActu').css('margin-bottom', '20px')
					$(obj).prepend(html);
				}
				else {
					$(obj).addClass('borderclass rightActu');
					$('.rightActu').css('margin-top', '100px')
					html = "<span class='leftCorner'></span>";
					$(obj).prepend(html);
				}
			});
		}
		Arrow_Points();



		//	Ajouter commentaire ajax
		$('.form_comment').submit(function(){

			var url = $(this).attr('action');
			var content = $(this).find('input[name=content]').val();
			var div = $(this).parent().siblings('.commentsActu');
			$(this).find('input[name=content]').blur().val('');

			$.post(url,{ content: content },function(data){
		    	var comment = '<div class="comment" style="display:none"><a href="#"><img width="40" height="40" src="/'+data.webpath+'" /> '+data.prenom+' '+data.nom+'</a><span>'+data.date+'</span><p>'+content+'</p></div>';
		    	$(div).prepend(comment).find('.comment:first').fadeIn('slow');
			},'json');

			return false;

		});

	});

	</script>

{% endblock %}

