{% extends 'UnetworkAppBundle::layout.html.twig' %}

{% block body %}

	<script type="text/javascript">
		$(function() {
			$('#container').masonry({itemSelector : '.item',});
		});
	</script>
	

	<div class="header">
		<img class="couverture" src="#" alt="couverture">
  		<div class="bottomBar">

  			<div class="row bottomBandeau">

  				<div class="col-md-5"></div>

  				<div class="col-md-3">
  					<span class="communityname">{{ user.community.name }}</span>
  				</div>

  				<div class="col-md-4"></div>

  			</div>
  				
  		</div>
	</div>

	<div class="contTimeline contActu">

  		<div class="row">

  			<div class="col-md-12">

  				<div id="container">
					<div class="timeline_container">
						<div class="indexTimeline">
						</div>
					</div>

					{% for actuality in actualities %}
			  			
		  				<div class="item">
							<div class="contentItem">
								<p class="destActu">{{actuality.description}}</p>
								<p class="dateActu">{{actuality.created|date("m/d/Y h:i:s")}}</p>
								<div class="postComment">
									<textarea maxlength="250" placeholder="Ecrire un commentaire..."></textarea>
								</div>
								<div class="commentsActu">
									{% for comment in actuality.comments %}

										<div class="comment">
											<p>
												<a href="#">{{ comment.user.prenom }} {{ comment.user.nom }}</a>
												{{ comment.content }}
											</p>
											<span>{{ comment.created|date("m/d/Y h:i:s") }}</span>
										</div>

									{% endfor %}
								</div>
							</div>
						</div>
		  			
					{% endfor %}

				</div>
  				<!--
  					<li class="timeline-blue">
	  					<div class="timeline-body">
							<p class="descActu">Poster une actualité</p>
							<div class="comments postComments">
								<textarea maxlength="250" placeholder="Exprimez-vous..."></textarea>
								<input type="submit" value="Poster"/>
							</div>
						</div>
					</li>
				-->

				</div>

			</div>

		</div>

  	</div>
  	<script type="text/javascript" >

  	$(document).ready(function(){
		function Arrow_Points()	{
			var s = $('#container').find('.item');
			$.each(s,function(i,obj){
				var posLeft = $(obj).css("left");
				if(posLeft == "0px") {
					html = "<span class='rightCorner'></span>";
					$(obj).addClass('borderclass leftActu');
				$('.leftActu').css('margin-bottom', '20px')
					$(obj).prepend(html);
				}
				else {
					$(obj).addClass('borderclass rightActu');
					$('.rightActu').css('margin-top', '100px')
					html = "<span class='leftCorner'></span>";
					$(obj).prepend(html);
				}
			});
		}
		Arrow_Points();
	});

	</script>

{% endblock %}

