<div class="row">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="col-md-4">
			<a href="{{ path('app_index') }}" class="logo">
				<img src="/App/img/logo.png"/>
			</a>
			<div id="recherche">				
				<input type="text" placeholder="Rechercher utilisateurs..." class="champ"/>

				<a href="#" class="bouton">
					<span class="glyphicon glyphicon-search searchicon"></span>
				</a>
			</div>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="rightMenu">
	  			<ul class="nav navbar-nav navbar-right">
		  			<li class="dropdown">
			          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			          		<span class="glyphicon glyphicon-cog param"></span>
			          	</a>
			          	<ul class="dropdown-menu">
			          		{% if user.roles.0 == "ROLE_ADMIN" %}
							   	<li><a href="{{ path('admin_index') }}">Administration</a></li>
							{% endif %}
				            <li><a href="#">Paramètres</a></li>
				            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
			          	</ul>
			        </li>
		    	</ul>
		    </div>
		    <a class="user" href="{{ path('app_profil') }}">
				<img width="40" height="40" src="/{{ user.getWebPath }}" />
				<span>{{ user.prenom }} {{ user.nom }}</span>
	  		</a>
  		</div>
	</nav>
</div>