{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Section</h1>

  <a href="{{ path('admin_section_create') }}"> Ajouter </a>

<div class="table-responsive">


        {% include 'UnetworkAdminBundle:UI:popup.html.twig'%}

            <table class="table table-striped">
              <thead>
                <tr>
                 		<th>Nom</th>
                    <th>Alias</th>
                    <th>Communauté</th>
                    <th>Crée le</th>
                    <th>Modifiée le</th>
                 		<th>Actions</th>
                </tr>
              </thead>

              <tbody>

                	{% for section in sections  %}                 		
                 		<tr>
                   		<td>{{ section.name }}</td>
                      <td>{{ section.alias }}</td>
                      <td>{{ section.community.name }}</td>
                      <td>{{ section.created|date("d/m/Y H:i") }}</td>
                      <td>{{ section.updated|date("d/m/Y H:i") }}</td>
	                 		 
	                 	  <td> 	
                        <a href="{{ path('admin_section_edit', {'id' : section.id } ) }}"> <img src="/Admin/img/edit.png"/> </a>
                        <a href="{{ path('admin_section_delete',{'id': section.id } ) }}"> <img onMouseOver="src='/Admin/img/delete_hover.png';" onMouseOut="src='/Admin/img/delete.png';" src="/Admin/img/delete.png"/> </a>
	                 		</td>
                 		</tr>                
               		{% endfor %}     


               
              </tbody>
            </table>
          </div>


{% endblock %}