{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Competence</h1>

	{% include 'UnetworkAdminBundle:UI:popup.html.twig'%}

	<table class="table table-striped">
        <thead>
            <tr>
             	<th> Id </th>
             	<th> Competence </th>                 		
             	<th> User</th>     
             	<th> Date </th>
             	<th class="th_modify" >Supprimer</th>
            </tr>
        </thead> 

        <tbody>

        	{% for competence in competences  %}
        		<tr>
        			<td>{{ competence.id }}</td>
        			<td>{{ competence.name }}</td>
        			<td>{{ competence.cv.user.nom }} {{ competence.cv.user.prenom }}</td>
        			<td>{{ competence.updated|date("d/m/Y H:i") }}</td>

	                <td class="td_modify" >		                 		 
	                 	<a href="{{ path('admin_competence_delete',{'id': competence.id } ) }}"> <img src="/Admin/img/delete.png" onMouseOver="src='/Admin/img/delete_hover.png';" onMouseOut="src='/Admin/img/delete.png';" /> </a> 
	                </td>
        		</tr>      
           	{% endfor %} 
        </tbody>
    </table>     

{% endblock %}
