{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Hobby</h1>

    {% include 'UnetworkAdminBundle:UI:popup.html.twig'%}

	<table class="table table-striped">
        <thead>
            <tr>
                <th> Id </th>
                <th> Hobby </th>                       
                <th> User</th>     
                <th> Date </th>
                <th class="th_modify" >Supprimer</th>
            </tr>
        </thead> 

        <tbody>

            {% for hobby in hobbies  %}
                <tr>
                    <td>{{ hobby.id }}</td>
                    <td>{{ hobby.name }}</td>
                    <td>{{ hobby.cv.user.nom }} {{ hobby.cv.user.prenom }}</td>
                    <td>{{ hobby.updated|date("d/m/Y H:i") }}</td>

                    <td class="td_modify" >                                 
                        <a href="{{ path('admin_hobby_delete',{'id': hobby.id } ) }}"> <img src="/Admin/img/delete.png" onMouseOver="src='/Admin/img/delete_hover.png';" onMouseOut="src='/Admin/img/delete.png';" alt="delete" /> </a> 
                    </td>
                </tr>      
            {% endfor %} 
        </tbody>    
    </table> 



		 

{% endblock %}
