{% extends 'UnetworkAppBundle:Parameter:layout.html.twig' %}

{% block body %}

	<h1>Modifier Expérience</h1>
<div class="contentForm">
	{{ form_start(form, { 'attr': { 'role': 'form' }}) }}
	    {{ form_errors(form) }}


	    <table>
	    	<tbody>
	    		<tr class="form-group">
	    			<td></td>
	    			<td>
	    				{% for type in form.type %}
						{{ form_widget(type) }}
						{% set object=form.type.vars.choices[type.vars.value].data %}
		    			<i class="{{ object.libelle }}"></i>
						{% endfor %}
	    			</td>
	    		</tr>
	    		<tr class="form-group">
	    			<td>{{ form_label(form.name) }}</td>
	    			<td>{{ form_widget(form.name) }}</td>
	    		</tr>
	    		<tr class="form-group">
	    			<td>{{ form_label(form.description) }}</td>
	    			<td>{{ form_widget(form.description) }}</td>
	    		</tr>
	    		<tr class="form-group">
	    			<td>{{ form_label(form.begin) }}</td>
	    			<td>{{ form_widget(form.begin, { 'attr': {'class': 'datepicker'} }) }}</td>
	    		</tr>
	    		<tr class="form-group">
	    			<td>{{ form_label(form.end) }}</td>
	    			<td>{{ form_widget(form.end, { 'attr': {'class': 'datepicker'} }) }}</td>
	    		</tr>
	    		<tr class="form-group">
	    			<td><input type="submit" class="btn btn-default" /></td>
	    			<td></td>
	    		</tr>
	    	</tbody>
	    </table>

	{{ form_end(form) }}
</div>
	<script>
        $(document).ready(function(){
            $( ".datepicker" ).datepicker({
            	showOn: "button",
				buttonImage: "../../../../../jquery-ui-1.10.4/development-bundle/demos/datepicker/images/calendar.gif",
				buttonImageOnly: true,
				changeMonth: true,
				changeYear: true,
				minDate: "-150Y",
				maxDate: "+5Y",
			});
        });
    </script>

{% endblock %}

