{% extends 'UnetworkAppBundle:Parameter:layout.html.twig' %}

{% block body %}

  {% for flashMessage in app.session.flashbag.get('experience') %}

      <div class="flash-notice">
          <div class="alert alert-success alert1">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              {{ flashMessage }}
          </div>
      </div>
  {% endfor %}

	<h1>Experiences</h1>
  <a href="{{ path('app_param_experience_create') }}"> Ajouter </a>

	<div class="table-responsive">

            <table class="table table-striped">
              <thead>
                <tr>              		
                 		<th>Type</th>     
                 		<th>Nom</th>
                 		<th>Description</th>
                    <th>Début</th>
                    <th>Fin</th>
                 		<th>Actions</th>
                </tr>
              </thead>

              <tbody>

                	{% for experience in user.cv.experience  %}
                 		 <tr>  
	                 		 <td> 	<div class='parameter_experience_ico'><i class="{{ experience.type.libelle }}"></i></div>   </td>
	                 		 <td> 	{{ experience.name }}  </td>
                       <td>   {{ experience.description|truncate(50) }}  </td>
	                 		 <td> 	{{ experience.begin|localizeddate('none', 'none', 'en', null, 'MMMM') }} {{ experience.begin|localizeddate('none', 'none', 'en', null, 'y') }}  </td>
                       <td>   {{ experience.end is empty ? "" : experience.end|localizeddate('none', 'none', 'en', null, 'MMMM') }} {{ experience.end is empty ? "" : experience.end|localizeddate('none', 'none', 'en', null, 'y') }}</td>
	                 	
	                 		  	<td> 	
	                 		   		<a href="{{ path('app_param_experience_edit', {'id' : experience.id } ) }}"> <img src="/Admin/img/edit.png"/> </a>
	                 		   		<a href="{{ path('app_param_experience_delete',{'id': experience.id } ) }}"> <img onMouseOver="src='/Admin/img/delete_hover.png';" onMouseOut="src='/Admin/img/delete.png';" src="/Admin/img/delete.png"/> </a> 
	                 		    </td>

                 		 </tr>                
               		{% endfor %}     


               
              </tbody>
            </table>
          </div>

{% endblock %}

