{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Modifier Communauté</h1>

	{{ form_start(form, { 'attr': { 'role': 'form' }}) }}
	    {{ form_errors(form) }}

		<div class="form-group">
	    {{ form_label(form.name) }}
	    {{ form_widget(form.name) }}
	    </div>

	    <div class="form-group">
	    {{ form_label(form.alias) }}
	    {{ form_widget(form.alias) }}
	    </div>

	    <div class="form-group">
	    {{ form_label(form.file) }}
	    {{ form_widget(form.file) }}
	    </div>

	    <input type="submit" class="btn btn-default" />

	{{ form_end(form) }}

{% endblock %}