{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Community</h1>



<div class="table-responsive">



        {{ form(form) }}

        {% include 'UnetworkAdminBundle:UI:popup.html.twig'%}

            <table class="table table-striped">
              <thead>
                <tr>
                 		<th class="th_id">Id</th>                 		
                 		<th>Name</th>
                    <th>Alias</th>
                    <th class="th_created">Crée le</th>
                    <th class="th_updated">Modifiée le</th>
                 		<th class="th_modify">Modifier / Supprimer</th>
                </tr>
              </thead>

              <tbody>

                	{% for community in communities  %}                 		
                 		 <tr>
	                 		 <td>{{ community.id }}</td>    
	                 		 <td id="community_name_{{ community.id }}">{{ community.name }}</td>
                       <td class="alias" id="community_alias_{{ community.id }}">{{ community.alias }}</td>
                       <td>{{ community.created|date("d/m/Y H:i") }}</td>
                       <td id="community_updated_{{ community.id }}">{{ community.updated|date("d/m/Y H:i") }}</td>
	                 		 
	                 		  <td class="td_modify"> 	
                          		<img id="community_edit_{{ community.id }}" src="/Admin/img/edit.png" alt="edit" onclick="edit_community(this,{{ community.id }})">
	                 		   	<a href="{{ path('admin_community_delete',{'id': community.id } ) }}"> <img src="/Admin/img/delete.png" onmouseover="src='/Admin/img/delete_hover.png';" onmouseout="src='/Admin/img/delete.png';"/> </a> 
	                 		  </td>
                 		 </tr>                
               		{% endfor %}     


               
              </tbody>
            </table>
          </div>



<!-- Request -->
<script type="text/javascript">
  var link_update_community = "{{ path('admin_community_update') }}" ;
</script>
<script src="/Admin/js/community_request.js"></script>


{% endblock %}