{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Community</h1>



<div class="table-responsive">



        {{ form(form) }}

        {% include 'UnetworkAdminBundle:UI:popup.html.twig'%}

          <form action="{{ path('admin_community_create') }}" method="post">
            <label>Name</label>
            <input id="community_name" name="community_name" type="texte">
            <input type="submit" value="Ajouter">
          </form>




            <table class="table table-striped">
              <thead>
                <tr>
                 		<th class="th_id">Id</th>                 		
                 		<th>Name</th>
                    <th>Alias</th>
                    <th>Crée le</th>
                    <th>Modifiée le</th>
                 		<th class="th_modify">Modifier / Supprimer</th>
                </tr>
              </thead>

              <tbody>

                	{% for community in communities  %}                 		
                 		 <tr>
	                 		 <td class="td_id">{{ community.id }}</td>    
 
	                 		 <td id="community_name_{{ community.id }}">{{ community.name }}</td>
                       <td class="alias" id="community_alias_{{ community.id }}">{{ community.alias }}</td>
                       <td class="td_id">{{ community.created|date("d/m/Y H:i") }}</td>
                       <td class="td_id" id="community_updated_{{ community.id }}">{{ community.updated|date("d/m/Y H:i") }}</td>
	                 		 
	                 		  <td class="td_modify"> 	
	                 		   	<!--<a href="{{ path('admin_community_edit',{'id': community.id } ) }}"> <img src="/Admin/img/edit.png"/> </a> -->
                          <img src="/Admin/img/edit.png" alt="edit" onclick="edit_community(this,{{ community.id }})">
	                 		   	<a href="{{ path('admin_community_delete',{'id': community.id } ) }}"> <img src="/Admin/img/delete.png"/> </a> 
	                 		  </td>
                 		 </tr>                
               		{% endfor %}     


               
              </tbody>
            </table>
          </div>



<!-- Request -->
<script type="text/javascript">
  var link_update_community = "{{ path('admin_community_update') }}" ;
</script>
<script src="/Admin/js/community_request.js"></script>


{% endblock %}