{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Commautés</h1>

  <a href="{{ path('admin_community_create') }}"> Ajouter </a>

<div class="table-responsive">

        {% include 'UnetworkAdminBundle:UI:popup.html.twig'%}

            <table class="table table-striped">
                  <thead>
                    <tr>
                    <th></th>
                 		<th>Nom</th>
                    <th>Alias</th>
                    <th>Crée le</th>
                    <th>Modifiée le</th>
                 		<th>Actions</th>
                </tr>
              </thead>

              <tbody>

                	{% for community in communities  %}                 		
                 		<tr>
                      <td id="community_image_{{ community.id }}" ><img class="community_img" src="/{{ community.getWebPath }}" alt="image_de_couverture" /></td>
                   		<td id="community_name_{{ community.id }}" >{{ community.name }}</td>
                      <td class="alias" id="community_alias_{{ community.id }}" >{{ community.alias }}</td>
                      <td>{{ community.created|date("d/m/Y H:i") }}</td>
                      <td id="community_updated_{{ community.id }}" >{{ community.updated|date("d/m/Y H:i") }}</td>
	                 		 
	                 	  <td> 	
                        <img id="community_edit_{{ community.id }}" src="/Admin/img/edit.png" alt="edit" onclick="edit_community(this,{{ community.id }})">
                        <a href="{{ path('admin_community_delete',{'id': community.id } ) }}"> <img onMouseOver="src='/Admin/img/delete_hover.png';" onMouseOut="src='/Admin/img/delete.png';" src="/Admin/img/delete.png" alt="delete"/> </a>
                    </tr> 
	                 		</td>

               		{% endfor %}     


               
              </tbody>
            </table>
          </div>



<!-- Request -->
<script type="text/javascript">
  var link_update_community = "{{ path('admin_community_update') }}" ;
</script>
<script src="/Admin/js/community_request.js"></script>


{% endblock %}