{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Commautés</h1>

  <a href="{{ path('admin_community_create') }}"> Ajouter </a>

<div class="table-responsive">


        {% include 'UnetworkAdminBundle:UI:popup.html.twig'%}

            <table class="table table-striped">
              <thead>
                <tr>
                    <th></th>
                 		<th>Nom</th>
                    <th>Alias</th>
                    <th>Crée le</th>
                    <th>Modifiée le</th>
                 		<th>Actions</th>
                </tr>
              </thead>

              <tbody>

                	{% for community in communities  %}                 		
                 		<tr>
                      <td><img width="100" height="40" src="/{{ community.getWebPath }}" /></td>
                   		<td>{{ community.name }}</td>
                      <td>{{ community.alias }}</td>
                      <td>{{ community.created|date("d/m/Y H:i") }}</td>
                      <td>{{ community.updated|date("d/m/Y H:i") }}</td>
	                 		 
	                 	  <td> 	
                        <a href="{{ path('admin_community_edit', {'id' : community.id } ) }}"> <img src="/Admin/img/edit.png"/> </a>
                        <a href="{{ path('admin_community_delete',{'id': community.id } ) }}"> <img onMouseOver="src='/Admin/img/delete_hover.png';" onMouseOut="src='/Admin/img/delete.png';" src="/Admin/img/delete.png"/> </a>
	                 		</td>
                 		</tr>                
               		{% endfor %}     


               
              </tbody>
            </table>
          </div>


{% endblock %}