{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Commentaires</h1>


		<a href="{{ path('admin_comment_create') }}"> Ajouter commentaire </a>


		<div class="table-responsive">
		
		{% include 'UnetworkAdminBundle:UI:popup.html.twig'%}

				
	            <table class="table table-striped">
	              <thead>
	                <tr>
	                 		<th> Id </th>                 		
	                 		<th> Texte </th> 
	                 		<th> Date Création </th>
	                 		<th> Date Modification </th>    
	                 		<th> Supprimer </th>
	                 		

	                </tr>
	              </thead>

	              <tbody>

	                	{% for comment in comments   %}                 		
	                 		 <tr>
		                 		 <td> 	{{ comment.id }}  </td>    
	 
		                 		 <td> 	{{ comment.content|truncate(500) }}  </td>
		                 		 <td> 	{{ comment.date|date("m/d/Y h:i") }}  </td>
		                 		 <td> 	{{ comment.updated|date("m/d/Y h:i") }}  </td>


		                 		  	<td>		                 		 
		                 		   		<a href="{{ path('admin_comment_delete',{'id': comment.id } ) }}"> <img src="/Admin/img/delete.png"/> </a> 

		                 		    </td>
	                 		 </tr>                
	               		{% endfor %}     


	               
	              </tbody>
	            </table>
	          </div>

{% endblock %}