{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Commentaires</h1>

		<div class="table-responsive">
				{% for flashMessage in app.session.flashbag.get('notice') %}
	                <div class="flash-notice">
	                    {{ flashMessage }}
	                </div>
	            {% endfor %}
	            <table class="table table-striped">
	              <thead>
	                <tr>
	                 		<th> Id </th>                 		
	                 		<th> Texte </th>     
	                 		<th> Supprimer </th>
	                 		

	                </tr>
	              </thead>

	              <tbody>

	                	{% for comment in comments  %}                 		
	                 		 <tr>
		                 		 <td> 	{{ comment.id }}  </td>    
	 
		                 		 <td> 	{{ comment.content|truncate(500) }}  </td>
		                 		  <td> 	
		                 		  		{{ actuality.community.name }} 

		                 		  </td>
		                 		  	<td> 	
		                 		   		<a href="{{ path('admin_actu_edit', {'id' : '$id' } ) }}"> <img src="/Admin/img/edit.png"/> </a>
		                 		   		<a href="{{ path('admin_actu_delete',{'id': '$id' } ) }}"> <img src="/Admin/img/delete.png"/> </a> 
		                 		    </td>
	                 		 </tr>                
	               		{% endfor %}     


	               
	              </tbody>
	            </table>
	          </div>





	{% for comment in comments %}
			{{ comment.content }} 
	{% endfor %}

{% endblock %}