 <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ path('admin_community')}}">Communautés</a></li>
            <li><a href="{{ path('admin_section')}}">Sections</a></li>
            <li><a href="{{ path('admin_actu')}}">Actualités</a></li>
            <li><a href="{{ path('admin_comment')}}">Commentaires</a></li>
            <li><a href="{{ path('admin_user')}}">Utilisateurs</a></li>
            <li><a href="{{ path('admin_competence')}}">Competences</a></li>
            <li><a href="{{ path('admin_experience')}}">Experiences</a></li>
            <li><a href="{{ path('admin_hobby')}}">Hobbies</a></li>
          </ul>


        </div>