{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

<h1>Modifier un utilisateur</h1>

<div class="contentForm">
	{{ form_start(form, { 'attr': { 'role': 'form' }}) }}
	    {{ form_errors(form) }}

		<div class="form-group">
	    {{ form_label(form.email) }}
	    {{ form_widget(form.email) }}
	    </div>

	    <div class="form-group">
	    {{ form_label(form.nom) }}
	    {{ form_widget(form.nom) }}
	    </div>

	    <div class="form-group">
	    {{ form_label(form.prenom) }}
	    {{ form_widget(form.prenom) }}
	    </div>

	    <div class="form-group">
	    {{ form_label(form.file) }}
	    {{ form_widget(form.file) }}
	    </div> 

	    <div class="form-group">
	    {{ form_label(form.community) }}
	    {{ form_widget(form.community) }}
	    </div>

	    <input type="submit" class="btn btn-default" />

	{{ form_end(form) }}
</div>
{% endblock %}